.card {
  display: flex;
  flex-direction: column;
}

.card__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  height: 20px;
  width: 18px;
  border: none;
  transition: 1s;
  position: relative;
  top: 38px;
  left: 249px;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  transition: 1s;
}

.card__like-button_active {
  background-image: url("../images/like-active.svg");
}

.card__like-button:hover {
  background: transparent url(../images/like-hover.svg) center no-repeat;
  cursor: pointer;
}
