.footer {
  padding-top: 67px;
  padding-bottom: 60px;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;;
  color: #545454;
  font-size: 18px;
  line-height: 1.1;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
