.modal {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  padding: 0 19px;
  font-family: "Inter", Arial, sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  min-width: 358px;
  min-height: 258px;
}

.modal__container_type_image {
  background: none;
  padding: 0;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.modal__image {
  max-height: 75vh;
  max-width: 75vw;
}

.modal__caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: 10px 0 0;
}

.modal__container_type_avatar {
  min-width: 358px;
  min-height: 200px;
}

.modal__container_type_delete {
  min-width: 358px;
  min-height: 130px;
}

.modal__close {
  position: absolute;
  top: -45px;
  right: -45px;
  background: transparent url(../images/Close\ Icon.svg) no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  transition: opacity 1s;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0 0 40px;
  align-self: flex-start;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 358px;
}

.modal__form-input {
  min-height: 40px;
  width: 100%;
  margin-bottom: 17px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
}

.modal__error {
  visibility: visible;
  border-bottom: 1px solid rgba(255, 0, 0);
}

.modal__error_visible {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: red;
  padding-top: 5px;
  border: none;
  width: 100%;
}

.modal__button {
  border-radius: 2px;
  border: none;
  background: #000;
  color: #fff;
  min-height: 50px;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin-top: 28px;
  transition: opacity 1s;
}

.modal__button_type_delete {
  margin-top: 0;
}

.modal__button:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
}

.modal__button_disabled {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  color: #000;
  opacity: 0.2;
}

@media screen and (max-width: 620px) {
  .modal__close {
    right: 0px;
    height: 26px;
    width: 26px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 62px;
  }
  .modal__container {
    padding: 25px 22px;
    min-width: 238px;
    min-height: 272px;
  }

  .modal__form {
    min-width: 238px;
  }

  .modal__form-input {
    margin-bottom: 15px;
  }

  .modal__button {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
